classes
.classpath
.directory
.gwt
foreel.iml
foreel.ipr
foreel.iws
foreel.properties
foreel.script
.idea
*.iml
*.ipr
*.iws
log.roo
.metadata
otherdirectoryvalue
out
pom.xml~
proj
.project
*_Roo_*
.settings
.springBeans
src/main/webapp/META-INF
talkwheel_2010-11-08_05:25:31.zip
target
test-classes
war
*~
twroo.ids
